body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

/* big-header section */

#bigHeader {
  background-image: url(images/header-background.jpg);
  background-position: center;
  height: 100vh;
  width: 100%;
  color: #fff;
  overflow-y: auto;
}

/* Navbar */

.menu-btn {
  margin-right: 15px;
}

.navbar {
  padding-top: 1.5rem;
  font-family: "Montserrat";
}

.nav-link {
  margin: 0 0 0 25px;
  font-size: 1.2rem;
  transition: 0.2s;
}

.nav-link:hover {
  border: 1px solid;
  border-radius: 20px;
  padding: 5px;
  font-weight: 500;
  margin-top: 20px;
}

.nav-item {
  margin: 0.5rem;
}

.navbar #profileImg {
  display: flex;
  border: 1px solid #fff;
  background-color: none;
  padding: 5px;
  width: 200px;
  margin-left: 1rem;
  border-radius: 25px;
  opacity: 0.7;
  cursor: pointer;
}

#profileImg span {
  visibility: hidden;
  width: 110px;
  background-color: #A2D2FF;
  color: #3b3131;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  top: 3.5rem;
  left: 2rem;
  z-index: 1;
}

#profileImg:hover span {
  visibility: visible;
}

#profileImg p {
  margin: 10px;
}

/* title slide show */

#bigHeader .title {
  padding: 5% 5%;
  text-align: left;
  transition: 0.5s;
  animation: 5s slideIn ease-in-out forwards;
  transform: translateX(-18rem);
  opacity: 0;
}

@keyframes slideIn {
  100% {
    transform: translateX(0px);
    opacity: 0.8;
  }
}

h1,
h2 {
  font-family: "Montserrat";
  line-height: 1.5;
  font-size: 3rem;
  font-weight: 900;
  opacity: 0.8;
}

h2 {
  text-align: center;
}

h3,
h4 {
  font-weight: 600;
}

h5 {
  font-style: italic;
}

#bigHeader .title p {
  font-size: 1.5rem;
  line-height: 1.5;
  opacity: 0.5;
}

@media screen and (max-width: 1025px) {
  .title .col-lg-6 {
    text-align: center;
  }

  .nav-link:hover {
    margin-top: 0;
    margin-left: 30px;
    width: 250px;
    padding-left: 20px;
  }
}

/* aside section */

aside {
  font-family: "Montserrat";
  position: absolute;
  background-color: #3D3C42;
  top: 0;
  width: 22rem;
  text-align: center;
  transform: translateX(-23rem);
  transition: 2s;
  height: 100%;
  overflow-y: auto;
  color: #fff;
}

.active-profile {
  transform: translateX(0);
}

aside h2 {
  font-size: 2rem;
}

aside h3 {
  font-weight: 500;
}

aside .fa-regular {
  position: absolute;
  left: 0;
  margin: 20px;
  font-size: 2rem;
  color: #fff;
  opacity: 0.5;
  transition: 0.2s;
}

aside .fa-regular:hover {
  opacity: 1;
}

aside img {
  margin-top: 30px;
  width: 100px;
}

aside .my-name {
  
}

.headline-border {
  border-top: 1px solid #6495ED;
  width: 90%;
}

aside .my-data {
  margin-top: 60px;
}

aside .my-data i {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #A2D2FF;
}

aside .data-list {
  padding: 5%;
  width: 50%;
  margin: auto;
  opacity: 0.5;
  transition: 0.2s;
}

aside .data-list:hover {
  box-shadow: 0 1px 2px 0.5px #A2D2FF;
  opacity: 1;
}

aside .my-mail {
  margin-top: 10px;
  opacity: 0.5;
  transition: 0.2s;
}

aside .my-mail:hover {
  box-shadow: 0 1px 2px 0.5px #A2D2FF;
  opacity: 1;
}

aside hr {
  border: 3px dotted #8c8686;
  border-bottom: none;
  width: 30%;
  margin: 20px auto;
  opacity: 0.5;
}

aside p {
  line-height: 2;
}

/* skills section */

#skills {
  padding: 0 5%;
}

.my-skills {
  margin: 100px 0;
}

.my-skills h2 {
  text-align: center;
}

.computer-img {
  float: left;
  margin-right: 30px;
}

.frontend-img {
  float: right;
  margin-left: 30px;
}

.backend-img {
  float: left;
  margin-right: 30px;
}

.skill-row {
  width: 650px;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
  padding: 10px;
}

.skill-row:hover {
  box-shadow: 0.3px 1px 30px 1px;
  border-radius: 10px;
}

.my-skills hr {
  visibility: hidden;
}

.icon-logo {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
  overflow-x: auto;
}

.icon-logo img {
  border: 3px solid #3b3131;
  border-radius: 50px;
  padding: 10px;
}

@media screen and (max-width: 800px) {
  .skill-row {
    text-align: center;
    width: 100%;
  }

  .computer-img {
    border-radius: 50px;
    float: none;
  }

  .frontend-img, .backend-img {
    float: none;
  }

  .my-skills img {
    margin-bottom: 15px;
  }

  .my-skills hr {
    visibility: visible;
    border: 3px dotted #A2D2FF;
    width: 30%;
    margin: auto;
    opacity: 0.2;
  }

  .icon-logo {
    align-items: center;
    margin: 20px auto;
  }

  .icon-logo img {
    margin: 10px;
  }
}

/* previous workplaces section */

#previousWorkplaces {
  background-color: #A2D2FF;
  padding: 5% 5%;
  color: #fff;
  /* opacity: 0.8; */
}

.container-lg {
  text-align: center;
  margin-top: 80px;
}

.workplace-box, .freetime-box {
  margin: 15px auto;
}

.workplace-box:hover {
  box-shadow: 0 1px 20px 0.5px #8c8686;
  background-color: #FF6363;
  z-index: 1;
}

.workplace-box p,
h4 {
  line-height: 1.5;
}

.workplace-box img,
h3,
h4 {
  margin-bottom: 15px;
}

.workplace-box p {
  font: 1.2rem;
}

.workplace-box hr {
  border-bottom: 3px solid;
  width: 20%;
  margin: 10px auto;
}

.workplace-box {
  transform: scale(1);
  transition: 0.5s;
}

.workplace-box:hover {
  transform: scale(1.1);
}

/* Free time style */

#freeTime {
  padding: 0 5%;
}

.freetime-box img {
  margin-bottom: 15px;
}

.freetime-box {
  padding: 5px;
  margin-top: 50px;
}

.freetime-box:hover {
  border: 1px solid;
  border-radius: 20px;
}

#freeTime h2 {
  margin-top: 50px;
}

.freetime-box p {
  font-size: 1.5rem;
}

/* Contact */

#contact {
  background-color: #A2D2FF;
  padding: 5%;
}

.contact-box {
  margin-top: 50px;
}

form {
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 1px 15px 1px;
}

.form-floating {
  position: relative;
}

.icon, .fa-message {
  position: absolute;
  top: calc(50%);
  left: 1.25rem;
}

.form-floating label, .form-floating .form-control {
  left: .5rem;
  padding-left: 3.5rem;
}

.icon-textarea {
  position: absolute;
  top: 1.8rem;
  left: 1.25rem;
}

#contact h2 {
  text-align: center;
  color: #fff;
}

iframe {
  width: 100%;
  box-shadow: 0 1px 15px 1px;
  border-radius: 20px;
}

@media screen and (max-width: 1025px){
  iframe {
    margin-top: 30px;
    height: 250px;
  }
}

/* Footer style */

footer {
  border-top: 1px solid #fff;
  background-color: #3D3C42;
  padding: 5px;
}

footer ul {
  display: flex;
  justify-content: center;
  margin: 50px 15px 0 15px;
  padding-right: 50px;
}

footer li {
  list-style: none;
  margin-left: 25px;
}

footer i{
  transition: 0.3s;
}

footer .scaleF:hover{
  transform: scale(1.2);
}

footer i{
  color: #6495ED;
}
      
footer i:hover{
  color: #3e7bed;
}

footer p{
  color: #fff;
  text-align: center;
  margin-top: 50px;
  opacity: 0.8;
}




